---
const redirectTo = '/committee/organizing-committee';
---

<!doctype html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="refresh" content={`0; url=${redirectTo}`} />
    <link rel="canonical" href={redirectTo} />
    <script define:vars={{ redirectTo }}>
      window.location.replace(redirectTo);
    </script>
  </head>
  <body>
    <p><a href={redirectTo}>Continue to Organizing Committee</a></p>
  </body>
</html>
