---
import { conference } from '../lib/ic2ins-data.js';
---

<header id="header" class="col-full site-header">
  <a class="conference-banner" href="/" aria-label={conference.shortName}>
    <picture>
      <source media="(max-width: 767px)" srcset="/site/images/wc2ir-banner-mobile.jpg" />
      <img
        src="/site/images/wc2ir-banner-ai.jpg"
        alt={`${conference.shortName}. World Conference on Computational Intelligence and Robotics. Conference Date: ${conference.dates}. Venue: ${conference.venue}.`}
        width="1835"
        height="430"
      />
    </picture>
  </a>
</header>
